<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}"/>-->

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}"
          href="../static/css/bootstrap.css" />
</head>
<body>
	<div class="container">
	    <div class="jumbotron">
            <div class="row">
                <p>Name: <span class="text-info text-center" th:text="*{message}"></span></p>
            </div>
            <div class="row">
                <a type="button" class="btn btn-default" href="login.html">Login first please!</a>
            </div>
	    </div>

	</div>
</body>
</html>